# Ex - GroupBy

In [12]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). 

### Paso 2. Importe el conjunto de datos desde esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [6]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

df = pd.read_csv(url)

df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [21]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [20]:
df[df["continent"].isnull()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NaN
11,Bahamas,122,176,51,6.3,NaN
14,Barbados,143,173,36,6.3,NaN
17,Belize,263,114,8,6.8,NaN
32,Canada,240,122,100,8.2,NaN
41,Costa Rica,149,87,11,4.4,NaN
43,Cuba,93,137,5,4.2,NaN
50,Dominica,52,286,26,6.6,NaN
51,Dominican Republic,193,147,9,6.2,NaN
54,El Salvador,52,69,2,2.2,NaN
68,Grenada,199,438,28,11.9,NaN
69,Guatemala,53,69,2,2.2,NaN
73,Haiti,1,326,1,5.9,NaN
74,Honduras,69,98,2,3.0,NaN
84,Jamaica,82,97,9,3.4,NaN
109,Mexico,238,68,5,5.5,NaN
122,Nicaragua,78,118,1,3.5,NaN
130,Panama,285,104,18,7.2,NaN
143,St. Kitts & Nevis,194,205,32,7.7,NaN
144,St. Lucia,171,315,71,10.1,NaN
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN
174,Trinidad & Tobago,197,156,7,6.4,NaN
184,USA,249,158,84,8.7,NaN

### Step 3. Assign it to a variable called drinks.
### Paso 3. Asignarlo a una variable llamada bebidas.

In [9]:
df_bebidas = df

In [10]:
df_bebidas

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?
### Paso 4. ¿Qué continente consume más cerveza de media?

In [22]:
df['beer_servings'].mean()

np.float64(106.16062176165804)

In [24]:
df.groupby('continent')

In [25]:
df.groupby('continent')['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [26]:
df.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

In [27]:
df.groupby('continent')['beer_servings'].mean().idxmax()

'EU'

In [ ]:
#Deberimos sustituir los valores null-s para tener en cuenta ese continente en el momento de realizar el análisis.
df[df["continent"].isnull()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NaN
11,Bahamas,122,176,51,6.3,NaN
14,Barbados,143,173,36,6.3,NaN
17,Belize,263,114,8,6.8,NaN
32,Canada,240,122,100,8.2,NaN
41,Costa Rica,149,87,11,4.4,NaN
43,Cuba,93,137,5,4.2,NaN
50,Dominica,52,286,26,6.6,NaN
51,Dominican Republic,193,147,9,6.2,NaN
54,El Salvador,52,69,2,2.2,NaN
68,Grenada,199,438,28,11.9,NaN
69,Guatemala,53,69,2,2.2,NaN
73,Haiti,1,326,1,5.9,NaN
74,Honduras,69,98,2,3.0,NaN
84,Jamaica,82,97,9,3.4,NaN
109,Mexico,238,68,5,5.5,NaN
122,Nicaragua,78,118,1,3.5,NaN
130,Panama,285,104,18,7.2,NaN
143,St. Kitts & Nevis,194,205,32,7.7,NaN
144,St. Lucia,171,315,71,10.1,NaN
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN
174,Trinidad & Tobago,197,156,7,6.4,NaN
184,USA,249,158,84,8.7,NaN

In [30]:
df["continent"] = df["continent"].fillna("NCA")

In [31]:
df["continent"].value_counts()

continent
AF     53
EU     45
AS     44
NCA    23
OC     16
SA     12
Name: count, dtype: int64

In [32]:
df.groupby('continent')['beer_servings'].mean().idxmax()

'EU'

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

### Step 5. For each continent print the statistics for wine consumption.
### Paso 5. Imprima las estadísticas de consumo de vino de cada continente.

In [34]:
df.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NCA         23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [35]:
df.groupby("continent").describe()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
NCA                23.0  145.434783  79.621163   1.0   80.00  143.0  198.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ... wine_servings         \
             max           count        mean  ...           75%    max
continent                                     ...
AF         376.0            53.0   16.339623  ...         13.00  233.0
AS         247.0            44.0   60.840909  ...          8.00  123.0
EU         361.0            45.0  132.555556  ...        195.00  370.0
NCA        285.0            23.0  165.739130  ...         34.00  100.0
OC         306.0            16.0   58.437500  ...         23.25  212.0
SA         333.0            12.0  114.750000  ...         98.50  221.0

          total_litres_of_pure_alcohol                                        \
                                 count      mean       std  min   25%    50%
continent
AF                                53.0  3.007547  2.647557  0.0  0.70   2.30
AS                                44.0  2.170455  2.770239  0.0  0.10   1.20
EU                                45.0  8.617778  3.358455  0.0  6.60  10.00
NCA                               23.0  5.995652  2.409353  2.2  4.30   6.30
OC                                16.0  3.381250  3.345688  0.0  1.00   1.75
SA                                12.0  6.308333  1.531166  3.8  5.25   6.85


              75%   max
continent
AF          4.700   9.1
AS          2.425  11.5
EU         10.900  14.4
NCA         7.000  11.9
OC          6.150  10.4
SA          7.375   8.3

[6 rows x 32 columns]

In [36]:
df.groupby("continent")["wine_serving"].describe()

KeyError: 'Column not found: wine_serving'

### Step 6. Print the mean alcohol consumption per continent for every column
### Paso 6. Imprima el consumo medio de alcohol por continente para cada columna.

In [37]:
df.groupby('continent')

In [40]:
df.groupby('continent').mean(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
NCA,145.434783,165.739130,24.521739,5.995652
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [42]:
df.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF     3.007547
AS     2.170455
EU     8.617778
NCA    5.995652
OC     3.381250
SA     6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column
### Paso 7. Imprima la mediana del consumo de alcohol por continente para cada columna.

In [41]:
df.groupby('continent').median(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
NCA,143.0,137.0,11.0,6.30
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [43]:
df.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF      2.30
AS      1.20
EU     10.00
NCA     6.30
OC      1.75
SA      6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption per continent.
### Paso 8. Imprima los valores medios, mínimos y máximos del consumo de alcohol por continente.

In [45]:
df.groupby('continent')['spirit_servings'].aggregate(["mean", "min","max"])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
NCA        165.739130   68  438
OC          58.437500    0  254
SA         114.750000   25  302

In [46]:
df.groupby('continent')['total_litres_of_pure_alcohol'].describe()

           count      mean       std  min   25%    50%     75%   max
continent
AF          53.0  3.007547  2.647557  0.0  0.70   2.30   4.700   9.1
AS          44.0  2.170455  2.770239  0.0  0.10   1.20   2.425  11.5
EU          45.0  8.617778  3.358455  0.0  6.60  10.00  10.900  14.4
NCA         23.0  5.995652  2.409353  2.2  4.30   6.30   7.000  11.9
OC          16.0  3.381250  3.345688  0.0  1.00   1.75   6.150  10.4
SA          12.0  6.308333  1.531166  3.8  5.25   6.85   7.375   8.3