# Fictional Army - Filtering and Sorting

In [3]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, None, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, None, 3, None, 2, None, 2, None, None, 1, 2, None],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Import libraries

### Step 1. This is the data given as a dictionary. Create a dataframe and assign it to a variable called army. 

### Paso 1. Estos son los datos proporcionados en forma de diccionario. Crea un marco de datos y asígnalo a una variable llamada army.

In [42]:
import pandas as pd

df_army = pd.DataFrame(raw_data)

# Mostrar el DataFrame
df_army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523.0,5,1045,1,1.0,1,4,Arizona
1,Nighthawks,1st,52.0,42,957,5,NaN,0,24,California
2,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31,Texas
3,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2,Florida
4,Dragoons,1st,43.0,4,1592,73,2.0,0,3,Maine
5,Dragoons,1st,234.0,7,1006,37,NaN,1,4,Iowa
6,Dragoons,2nd,523.0,8,987,949,2.0,0,24,Alaska
7,Dragoons,2nd,62.0,3,849,48,NaN,1,31,Washington
8,Scouts,1st,NaN,4,973,48,NaN,0,2,Oregon
9,Scouts,1st,73.0,7,1005,435,1.0,0,3,Wyoming
10,Scouts,2nd,37.0,8,1099,63,2.0,1,2,Louisana
11,Scouts,2nd,35.0,9,1523,345,NaN,1,3,Georgia

### Step 2. Check missing values
### Paso 2. Comprueba los valores que faltan.

In [5]:
df_army.info

<bound method DataFrame.info of       regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st   523.0        5  1045         1        1.0        1
1   Nighthawks     1st    52.0       42   957         5        NaN        0
2   Nighthawks     2nd    25.0        2  1099        62        3.0        1
3   Nighthawks     2nd   616.0        2  1400        26        NaN        1
4     Dragoons     1st    43.0        4  1592        73        2.0        0
5     Dragoons     1st   234.0        7  1006        37        NaN        1
6     Dragoons     2nd   523.0        8   987       949        2.0        0
7     Dragoons     2nd    62.0        3   849        48        NaN        1
8       Scouts     1st     NaN        4   973        48        NaN        0
9       Scouts     1st    73.0        7  1005       435        1.0        0
10      Scouts     2nd    37.0        8  1099        63        2.0        1
11      Scouts     2nd    35.0        9  1523       345        NaN        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
4           3       Maine
5           4        Iowa
6          24      Alaska
7          31  Washington
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia  >

In [67]:
df_army.isnull()

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,True,False,False,False
8,False,False,True,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,True,False,False,False

In [68]:
df_army.isnull().sum()

regiment     0
company      0
deaths       1
battles      0
size         0
veterans     0
readiness    6
armored      0
deserters    0
origin       0
dtype: int64

In [ ]:
df_army[(df_army["deaths"].isnull()) | (df_army["readiness"].isnull()

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
1,Nighthawks,1st,52.0,42,957,5,NaN,0,24,California
3,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2,Florida
5,Dragoons,1st,234.0,7,1006,37,NaN,1,4,Iowa
7,Dragoons,2nd,62.0,3,849,48,NaN,1,31,Washington
8,Scouts,1st,NaN,4,973,48,NaN,0,2,Oregon
11,Scouts,2nd,35.0,9,1523,345,NaN,1,3,Georgia

In [ ]:
df_army.isnull().any()

regiment     False
company      False
deaths        True
battles      False
size         False
veterans     False
readiness     True
armored      False
deserters    False
origin       False
dtype: bool

###Step 3. Drop features, if there are more than 30% missing values.  
###Paso 3. Eliminar características si hay más del 30 % de valores perdidos.

In [29]:
df_army.dropna(thresh= len(df_army) * 0.7, inplace= True)

In [30]:
df_army

Empty DataFrame
Columns: [regiment, company, deaths, battles, size, veterans, readiness, armored, deserters, origin]
Index: []

In [24]:
len(df_army) * 0.7

8.399999999999999

In [122]:

# Calcular el porcentaje de valores faltantes por columna
valores_perdidos = df_army.isnull().mean() * 100

# Eliminar columnas con más del 30% de valores faltantes
df_army.drop(columns = valores_perdidos[valores_perdidos > 30].index)

# Mostrar las columnas restantes
print("Columnas restantes en el DataFrame:")
print(df_army.columns)

Columnas restantes en el DataFrame:
Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'armored', 'deserters', 'origin'],
      dtype='object')

### Step 4. Fill missing values with the mean of their regiment.
### Paso 4. Rellene los valores que faltan con la media de su regimiento.

In [123]:
df_army.info

<bound method DataFrame.info of       regiment company  deaths  battles  size  veterans  armored  deserters  \
0   Nighthawks     1st   523.0        5  1045         1        1          4
1   Nighthawks     1st    52.0       42   957         5        0         24
2   Nighthawks     2nd    25.0        2  1099        62        1         31
3   Nighthawks     2nd   616.0        2  1400        26        1          2
4     Dragoons     1st    43.0        4  1592        73        0          3
5     Dragoons     1st   234.0        7  1006        37        1          4
6     Dragoons     2nd   523.0        8   987       949        0         24
7     Dragoons     2nd    62.0        3   849        48        1         31
8       Scouts     1st     NaN        4   973        48        0          2
9       Scouts     1st    73.0        7  1005       435        0          3
10      Scouts     2nd    37.0        8  1099        63        1          2
11      Scouts     2nd    35.0        9  1523       345        1          3

        origin
0      Arizona
1   California
2        Texas
3      Florida
4        Maine
5         Iowa
6       Alaska
7   Washington
8       Oregon
9      Wyoming
10    Louisana
11     Georgia  >

In [ ]:
df_army["deaths"].mean()

Series([], Name: deaths, dtype: float64)

In [34]:
df_army["deaths"].fillna(df_army["deaths"].mean())

Series([], Name: deaths, dtype: float64)

In [39]:
round(df_army.groupby("regiment")["deaths"].mean())

Series([], Name: deaths, dtype: float64)

In [41]:
round(df_army.groupby("regiment")["deaths"].mean()["scouts"])

KeyError: 'scouts'

In [ ]:
round(df_army.groupby("regiment")["deaths"].mean())

TypeError: agg function failed [how->mean,dtype->object]

### Step 5. Set the 'origin' colum as the index of the dataframe
### Paso 5. Establezca la columna «origin» como índice del marco de datos.

In [73]:
df_army.set_index("origin")

,regiment,company,deaths,battles,size,veterans,armored,deserters
origin,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1,4
California,Nighthawks,1st,52.0,42,957,5,0,24
Texas,Nighthawks,2nd,25.0,2,1099,62,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,1,2
Maine,Dragoons,1st,43.0,4,1592,73,0,3
Iowa,Dragoons,1st,234.0,7,1006,37,1,4
Alaska,Dragoons,2nd,523.0,8,987,949,0,24
Washington,Dragoons,2nd,62.0,3,849,48,1,31
Oregon,Scouts,1st,NaN,4,973,48,0,2
Wyoming,Scouts,1st,73.0,7,1005,435,0,3
Louisana,Scouts,2nd,37.0,8,1099,63,1,2
Georgia,Scouts,2nd,35.0,9,1523,345,1,3

### Step 6. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska
### Paso 6. Seleccione las columnas «muertes», «tamaño» y «desertores» de Maine y Alaska.

In [60]:
df_army = df_army.set_index('origin')

In [61]:
df_army.loc[['Maine','Alaska']][['deaths', 'size', 'deserters']]

        deaths  size  deserters
origin
Maine     43.0  1592          3
Alaska   523.0   987         24

### Step 7. Select the rows 3 to 7 and the columns 3 to 6
### Paso 7. Seleccione las filas 3 a 7 y las columnas 3 a 6.

In [62]:
df_army.iloc[2:8, 2:7]

            deaths  battles  size  veterans  readiness
origin
Texas         25.0        2  1099        62        3.0
Florida      616.0        2  1400        26        NaN
Maine         43.0        4  1592        73        2.0
Iowa         234.0        7  1006        37        NaN
Alaska       523.0        8   987       949        2.0
Washington    62.0        3   849        48        NaN

### Step 8. Select every row after the fourth row and all columns
### Paso 8. Selecciona todas las filas después de la cuarta fila y todas las columnas.

In [63]:
df_army.iloc[4:,:]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Maine,Dragoons,1st,43.0,4,1592,73,2.0,0,3
Iowa,Dragoons,1st,234.0,7,1006,37,NaN,1,4
Alaska,Dragoons,2nd,523.0,8,987,949,2.0,0,24
Washington,Dragoons,2nd,62.0,3,849,48,NaN,1,31
Oregon,Scouts,1st,NaN,4,973,48,NaN,0,2
Wyoming,Scouts,1st,73.0,7,1005,435,1.0,0,3
Louisana,Scouts,2nd,37.0,8,1099,63,2.0,1,2
Georgia,Scouts,2nd,35.0,9,1523,345,NaN,1,3

### Step 9. Select every row up to the 4th row and all columns
### Paso 9. Selecciona todas las filas hasta la cuarta fila y todas las columnas.

In [65]:
df_army.iloc[:4,:]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
California,Nighthawks,1st,52.0,42,957,5,NaN,0,24
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2

In [66]:
df_army.iloc[:4,:]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
California,Nighthawks,1st,52.0,42,957,5,NaN,0,24
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2

### Step 10. Select the 3rd column up to the 7th column
### Paso 10. Seleccione la tercera columna hasta la séptima columna.

In [68]:
df_army.iloc[:,3:7]

            battles  size  veterans  readiness
origin
Arizona           5  1045         1        1.0
California       42   957         5        NaN
Texas             2  1099        62        3.0
Florida           2  1400        26        NaN
Maine             4  1592        73        2.0
Iowa              7  1006        37        NaN
Alaska            8   987       949        2.0
Washington        3   849        48        NaN
Oregon            4   973        48        NaN
Wyoming           7  1005       435        1.0
Louisana          8  1099        63        2.0
Georgia           9  1523       345        NaN

### Step 11. Select rows where df.deaths is greater than 50
### Paso 11. Selecciona las filas en las que df.deaths sea mayor que 50.

In [69]:
df_army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
California,Nighthawks,1st,52.0,42,957,5,NaN,0,24
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2
Maine,Dragoons,1st,43.0,4,1592,73,2.0,0,3
Iowa,Dragoons,1st,234.0,7,1006,37,NaN,1,4
Alaska,Dragoons,2nd,523.0,8,987,949,2.0,0,24
Washington,Dragoons,2nd,62.0,3,849,48,NaN,1,31
Oregon,Scouts,1st,NaN,4,973,48,NaN,0,2
Wyoming,Scouts,1st,73.0,7,1005,435,1.0,0,3
Louisana,Scouts,2nd,37.0,8,1099,63,2.0,1,2
Georgia,Scouts,2nd,35.0,9,1523,345,NaN,1,3

In [ ]:
mascara = df_army[df_army['deaths'] > 50]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
California,Nighthawks,1st,52.0,42,957,5,NaN,0,24
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2
Iowa,Dragoons,1st,234.0,7,1006,37,NaN,1,4
Alaska,Dragoons,2nd,523.0,8,987,949,2.0,0,24
Washington,Dragoons,2nd,62.0,3,849,48,NaN,1,31
Wyoming,Scouts,1st,73.0,7,1005,435,1.0,0,3

In [75]:
df_army[mascara]

ValueError: Boolean array expected for the condition, not object

### Step 12. Select rows where df.deaths is greater than 500 or less than 50
### Paso 12. Selecciona las filas en las que df.deaths sea mayor que 500 o menor que 50.

In [77]:
(df_army['deaths'] > 500) | (df_army['deaths'] < 50)

origin
Arizona        True
California    False
Texas          True
Florida        True
Maine          True
Iowa          False
Alaska         True
Washington    False
Oregon        False
Wyoming       False
Louisana       True
Georgia        True
Name: deaths, dtype: bool

In [78]:
df_army[(df_army['deaths'] > 500) | (df_army['deaths'] < 50)]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2
Maine,Dragoons,1st,43.0,4,1592,73,2.0,0,3
Alaska,Dragoons,2nd,523.0,8,987,949,2.0,0,24
Louisana,Scouts,2nd,37.0,8,1099,63,2.0,1,2
Georgia,Scouts,2nd,35.0,9,1523,345,NaN,1,3

### Step 13. Select all the regiments not named "Dragoons"
### Paso 13. Selecciona todos los regimientos que no se llamen «Dragones».

In [82]:
df_army[df_army["regiment"] != "Dragoons"]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4
California,Nighthawks,1st,52.0,42,957,5,NaN,0,24
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Florida,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2
Oregon,Scouts,1st,NaN,4,973,48,NaN,0,2
Wyoming,Scouts,1st,73.0,7,1005,435,1.0,0,3
Louisana,Scouts,2nd,37.0,8,1099,63,2.0,1,2
Georgia,Scouts,2nd,35.0,9,1523,345,NaN,1,3

### Step 14. Select the rows called Texas and Arizona
### Paso 14. Seleccione las filas llamadas Texas y Arizona.

In [83]:
df_army.loc[['Texas', 'Arizona']]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Texas,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31
Arizona,Nighthawks,1st,523.0,5,1045,1,1.0,1,4

### Step 15. Select the third cell in the row named Arizona
### Paso 15. Seleccione la tercera celda de la fila denominada Arizona.

In [94]:
df_army.loc['Arizona'][2]

C:\Users\usuario\AppData\Local\Temp\ipykernel_11308\3883920954.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_army.loc['Arizona'][2]

np.float64(523.0)

In [93]:
df_army.loc['Arizona'].iloc[2]

np.float64(523.0)

### Step 16. Select the third cell down in the column named deaths
### Paso 16. Seleccione la tercera celda hacia abajo en la columna denominada «muertes».

In [91]:
df_army.loc["deaths"][2]

KeyError: 'deaths'

In [92]:
df_army.loc["deaths"].iloc[2]

KeyError: 'deaths'