In [36]:
import numpy as np
import pandas as pd

import os
os.getcwd()

'c:\\Users\\usuario\\Desktop\\DataScience\\MIKEL_TEMARIO\\MIKEL_TEMARIO_REPO\\2-Data_analysis\\EDA'

In [37]:
print("Archivos en la carpeta actual:")
print(os.listdir())

Archivos en la carpeta actual:
['0-Enunciado_EDA.ipynb', 'avalanchas_sample.csv', 'bike_buyers_dataset.csv', 'cordilleras_pendientes_sample.csv', 'Info para el Proyecto - Bike Buyers.docx', 'Info para el Proyecto - Students Performance.docx', 'Proyecto EDA Bike Buyers 1000.ipynb', 'Proyecto EDA Ski y Avalanchas.ipynb', 'Proyecto EDA Students Performance.ipynb', 'Student_performance_dataset.csv', 'volcano_db.csv']

In [41]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasets/population/master/data/population.csv"

In [58]:
dfpoblacion = pd.read_csv("https://raw.githubusercontent.com/datasets/population/master/data/population.csv")

dfpoblacion

      Country Name Country Code  Year       Value
0            Aruba          ABW  1960     54922.0
1            Aruba          ABW  1961     55578.0
2            Aruba          ABW  1962     56320.0
3            Aruba          ABW  1963     57002.0
4            Aruba          ABW  1964     57619.0
...            ...          ...   ...         ...
16925     Zimbabwe          ZWE  2019  15271368.0
16926     Zimbabwe          ZWE  2020  15526888.0
16927     Zimbabwe          ZWE  2021  15797210.0
16928     Zimbabwe          ZWE  2022  16069056.0
16929     Zimbabwe          ZWE  2023  16340822.0

[16930 rows x 4 columns]

In [59]:
dfpoblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16930 entries, 0 to 16929
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16930 non-null  object
 1   Country Code  16930 non-null  object
 2   Year          16930 non-null  int64
 3   Value         16930 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 529.2+ KB

In [60]:
import pandas as pd

dfvolcanes = pd.read_csv("volcano_db.csv", encoding="latin1")

dfvolcanes

,Number,Volcano Name,Country,Region,Latitude,Longitude,Elev,Type,Status,Last Known
0,0803-001,Abu,Japan,Honshu-Japan,34.500,131.600,571.0,Shield volcano,Holocene,Unknown
1,1505-096,Acamarachi,Chile,Chile-N,-23.300,-67.620,6046.0,Stratovolcano,Holocene,Unknown
2,1402-08=,Acatenango,Guatemala,Guatemala,14.501,-90.876,3976.0,Stratovolcano,Historical,D1
3,0103-004,Acigol-Nevsehir,Turkey,Turkey,38.570,34.520,1689.0,Maar,Holocene,U
4,1201-04-,Adams,United States,US-Washington,46.206,-121.490,3742.0,Stratovolcano,Tephrochronology,D6
...,...,...,...,...,...,...,...,...,...,...
1566,1000-12=,Zhupanovsky,Russia,Kamchatka,53.590,159.147,2958.0,Compound volcano,Historical,D2
1567,1000-242,Zimina,Russia,Kamchatka,55.862,160.603,3081.0,Stratovolcano,Holocene,U
1568,0201-02=,"Zubair, Jebel",Yemen,Red Sea,15.050,42.180,191.0,Shield volcano,Historical,D3
1569,0201-021,Zukur,Yemen,Red Sea,14.020,42.750,624.0,Shield volcano,Holocene,U
1570,1210-02-,Zuni-Bandera,United States,US-New Mexico,34.800,-108.000,2550.0,Volcanic field,Anthropology,D7

In [61]:

dfvolcanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        1571 non-null   object
 1   Volcano Name  1571 non-null   object
 2   Country       1571 non-null   object
 3   Region        1571 non-null   object
 4   Latitude      1571 non-null   float64
 5   Longitude     1571 non-null   float64
 6   Elev          1558 non-null   float64
 7   Type          1571 non-null   object
 8   Status        1571 non-null   object
 9   Last Known    1571 non-null   object
dtypes: float64(3), object(7)
memory usage: 122.9+ KB

In [71]:
!pip install pycountry
import pycountry
import pandas as pd

# --- 1. Contar volcanes por país ---
volc_country = dfvolcanes.groupby("Country").size().reset_index(name="Volcano_Count")

# --- 2. Tomar población de 2020 ---
pop_2020 = dfpoblacion[dfpoblacion["Year"] == 2020].rename(columns={"Country Name": "Country", "Value": "Population_2020"})

# --- 3. Normalizar nombres con pycountry ---
def get_iso3(name):
    try:
        return pycountry.countries.lookup(name).alpha_3
    except:
        return None

volc_country["ISO3"] = volc_country["Country"].apply(get_iso3)
pop_2020["ISO3"] = pop_2020["Country Code"]

# --- 4. Merge usando códigos ISO ---
df = pd.merge(volc_country, pop_2020, on="ISO3", how="inner")

# --- 5. Limpiar y dejar columnas útiles ---
df = df[["Country_x", "Volcano_Count", "Population_2020", "ISO3"]].rename(
    columns={"Country_x": "Country"}
)

print(f"✅ Países combinados correctamente: {df.shape[0]}")
df.head(10)

Requirement already satisfied: pycountry in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (24.6.1)
✅ Países combinados correctamente: 71

          Country  Volcano_Count  Population_2020 ISO3
0     Afghanistan              2       39068979.0  AFG
1         Algeria              4       44042091.0  DZA
2  American Samoa              1          49761.0  ASM
3       Argentina             34       45191965.0  ARG
4         Armenia              5        2961500.0  ARM
5       Australia              1       25649248.0  AUS
6         Bolivia             11       11816299.0  BOL
7        Cameroon              5       26210558.0  CMR
8          Canada             21       38028638.0  CAN
9            Chad              5       17224679.0  TCD

In [70]:
import pandas as pd

# Contar volcanes por país
volc_country = dfvolcanes.groupby("Country").size().reset_index(name="Volcano_Count")

# Tomar población reciente (por ejemplo 2020)
pop_2020 = dfpoblacion[dfpoblacion["Year"] == 2020].rename(columns={"Country Name": "Country", "Value": "Population_2020"})

# Merge
df = pd.merge(volc_country, pop_2020, on="Country", how="inner")

df.head()

          Country  Volcano_Count Country Code  Year  Population_2020
0     Afghanistan              2          AFG  2020       39068979.0
1         Algeria              4          DZA  2020       44042091.0
2  American Samoa              1          ASM  2020          49761.0
3       Argentina             34          ARG  2020       45191965.0
4         Armenia              5          ARM  2020        2961500.0

In [72]:
import pycountry

# --- Diccionario de excepciones manuales ---
manual_fixes = {
    "United States": "United States of America",
    "Russia": "Russian Federation",
    "South Korea": "Korea, Republic of",
    "North Korea": "Korea, Democratic People's Republic of",
    "Vietnam": "Viet Nam",
    "Congo": "Congo, Republic of",
    "Democratic Republic of the Congo": "Congo, Democratic Republic of",
    "Iran": "Iran, Islamic Republic of",
    "Syria": "Syrian Arab Republic",
    "Venezuela": "Venezuela, Bolivarian Republic of",
    "Tanzania": "Tanzania, United Republic of",
}

# --- Función mejorada para obtener ISO3 ---
def get_iso3(name):
    # Aplicar corrección manual si existe
    if name in manual_fixes:
        name = manual_fixes[name]
    try:
        return pycountry.countries.lookup(name).alpha_3
    except:
        return None

# --- Recalcular ISO3 ---
volc_country["ISO3"] = volc_country["Country"].apply(get_iso3)
pop_2020["ISO3"] = pop_2020["Country Code"]

# --- Nuevo merge ---
df = pd.merge(volc_country, pop_2020, on="ISO3", how="inner")

# --- Limpiar columnas ---
df = df[["Country_x", "Volcano_Count", "Population_2020", "ISO3"]].rename(columns={"Country_x": "Country"})

print(f"✅ Países combinados correctamente: {df.shape[0]}")
print("✅ Países añadidos con corrección manual:", list(manual_fixes.keys()))
df[df["Country"].isin(list(manual_fixes.keys()))]

✅ Países combinados correctamente: 72
✅ Países añadidos con corrección manual: ['United States', 'Russia', 'South Korea', 'North Korea', 'Vietnam', 'Congo', 'Democratic Republic of the Congo', 'Iran', 'Syria', 'Venezuela', 'Tanzania']

          Country  Volcano_Count  Population_2020 ISO3
33           Iran              8       87723443.0  IRN
48    North Korea              3       26136312.0  PRK
54         Russia            169      145245148.0  RUS
59    South Korea              2       51836239.0  KOR
63          Syria              6       21049429.0  SYR
64       Tanzania             10       60972798.0  TZA
68  United States            184      331526933.0  USA
70        Vietnam              6       98079191.0  VNM

In [73]:
df

           Country  Volcano_Count  Population_2020 ISO3
0      Afghanistan              2       39068979.0  AFG
1          Algeria              4       44042091.0  DZA
2   American Samoa              1          49761.0  ASM
3        Argentina             34       45191965.0  ARG
4          Armenia              5        2961500.0  ARM
..             ...            ...              ...  ...
67  United Kingdom              1       67081234.0  GBR
68   United States            184      331526933.0  USA
69         Vanuatu             14         298858.0  VUT
70         Vietnam              6       98079191.0  VNM
71           Yemen             11       36134863.0  YEM

[72 rows x 4 columns]

In [74]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Mostrar todo el DataFrame
display(df)

              Country  Volcano_Count  Population_2020 ISO3
0         Afghanistan              2     3.906898e+07  AFG
1             Algeria              4     4.404209e+07  DZA
2      American Samoa              1     4.976100e+04  ASM
3           Argentina             34     4.519196e+07  ARG
4             Armenia              5     2.961500e+06  ARM
5           Australia              1     2.564925e+07  AUS
6             Bolivia             11     1.181630e+07  BOL
7            Cameroon              5     2.621056e+07  CMR
8              Canada             21     3.802864e+07  CAN
9                Chad              5     1.722468e+07  TCD
10              Chile             87     1.937062e+07  CHL
11              China             14     1.411100e+09  CHN
12           Colombia             14     5.063000e+07  COL
13            Comoros              2     8.021630e+05  COM
14         Costa Rica             10     5.034320e+06  CRI
15           Djibouti              2     1.105188e+06  DJI
16           Dominica              5     6.757300e+04  DMA
17            Ecuador             34     1.754606e+07  ECU
18        El Salvador             22     6.234673e+06  SLV
19  Equatorial Guinea              3     1.716468e+06  GNQ
20            Eritrea              6     3.291271e+06  ERI
21           Ethiopia             57     1.189177e+08  ETH
22               Fiji              2     9.149630e+05  FJI
23             France              5     6.760111e+07  FRA
24            Georgia              4     3.722716e+06  GEO
25            Germany              1     8.316087e+07  DEU
26             Greece              5     1.069860e+07  GRC
27            Grenada              1     1.163410e+05  GRD
28          Guatemala             22     1.735732e+07  GTM
29           Honduras              4     1.011964e+07  HND
30            Iceland             38     3.664630e+05  ISL
31              India              2     1.402618e+09  IND
32          Indonesia            136     2.748149e+08  IDN
33               Iran              8     8.772344e+07  IRN
34              Italy             14     5.943885e+07  ITA
35              Japan            111     1.262610e+08  JPN
36              Kenya             22     5.221733e+07  KEN
37              Libya              2     7.045399e+06  LBY
38         Madagascar              5     2.895356e+07  MDG
39           Malaysia              1     3.388956e+07  MYS
40               Mali              1     2.171384e+07  MLI
41             Mexico             41     1.267991e+08  MEX
42           Mongolia              5     3.327204e+06  MNG
43            Myanmar              3     5.301652e+07  MMR
44        Netherlands              5     1.744150e+07  NLD
45        New Zealand             30     5.090200e+06  NZL
46          Nicaragua             19     6.565267e+06  NIC
47            Nigeria              1     2.139962e+08  NGA
48        North Korea              3     2.613631e+07  PRK
49             Panama              2     4.293261e+06  PAN
50   Papua New Guinea             54     9.815746e+06  PNG
51               Peru             16     3.283858e+07  PER
52        Philippines             49     1.120813e+08  PHL
53           Portugal             14     1.029708e+07  PRT
54             Russia            169     1.452451e+08  RUS
55             Rwanda              1     1.306584e+07  RWA
56              Samoa              2     2.119440e+05  WSM
57       Saudi Arabia             10     3.155251e+07  SAU
58       South Africa              1     6.056238e+07  ZAF
59        South Korea              2     5.183624e+07  KOR
60              Spain              8     4.736566e+07  ESP
61              Sudan              5     4.678923e+07  SDN
62             Sweden              1     1.035344e+07  SWE
63              Syria              6     2.104943e+07  SYR
64           Tanzania             10     6.097280e+07  TZA
65              Tonga             20     1.057040e+05  TON
66             Uganda              7     4.445715e+07  UGA
67     United Kingdom              1     6.708123e+07  GBR
68      United States            184     3.315269e+08  USA
69            Vanuatu             14     2.988580e+05  VUT
70            Vietnam              6     9.807919e+07  VNM
71              Yemen             11     3.613486e+07  YEM